body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

input {
    padding: 6px;
    margin: 5px;
}

#map {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

#mines, #rovers {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

#rovers-section1{
    width: 80%;
}
